DB_USER= project-1
DB_PASSWORD = 123456
DB_SERVER = DESKTOP-VBHK0R4\\SQLEXPRESS
DB_DATABASE = QL_NHAN_KHAU
JWT_SECRET= jwt
PORT = 3000
NODE_ENV=development
DB_PORT = 1433
CLIENT_URL= http://localhost:5173
EMAIL_USER= test@gmail.com
EMAIL_PASS = pass